.user-list-container {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 1200px;
}

.user-list-container h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: 600;
}

.user-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.user-list li {
  flex: 1 1 calc(33.333% - 30px); /* Ajuste a largura com base no número de itens por linha */
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.user-list li:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.user-list li div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list li h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
  font-weight: 500;
}

.user-list li p {
  margin: 5px 0;
  color: #666;
}

.user-list li h4 {
  margin: 10px 0 5px;
  color: #333;
}

.user-list li ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-list li ul li {
  background-color: #544c4c;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.user-list li button {
  padding: 8px 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 0.9em;
  font-weight: 500;
}

.user-list li button:hover {
  transform: translateY(-2px);
}

.user-list li button.edit-button {
  background-color: #45a049;
  color: white;
  margin-right: 10px;
}

.user-list li button.edit-button:hover {
  background-color: #0056b3;
}

.user-list li button.delete-button {
  background-color: #dc3545;
  color: white;
}

.user-list li button.delete-button:hover {
  background-color: #c82333;
}
