.App {
  background-color: rgb(85, 133, 133);
}
.app-footer {
  padding: 20px 0px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .App {
    background-color: rgb(35, 35, 35);
  }
  .app-footer {
    background-color: rgb(35, 35, 35);
    color: white;
  }
}
